/* Style the buttons that are used to open and close the accordion panel */
 .faqItem {
    background: linear-gradient(to top, #ace0f9  0%,#fff1eb  100%); 
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 2rem;
    text-align: center;
    border: none;
    outline: none;
    font-size: large;
    margin: 0.25rem;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
   .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 0rem;
    background-color: white;
    display: none;
    overflow: hidden;
    
  } 

   /* Style for the open panel */
   .panel.open {
    margin: 0.5rem;
    display: flex; 
    transition: height 2s ease-out;
    font-size: large;
  }

.faqHeader {
    font-size: 2.5rem;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    color: #333;
    border-bottom: 5px solid black;
}

#FAQ {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.faqList {
  list-style-type: none;
  padding: 0;
}

.faqItem {
  font-size: 1.2rem;
  color: #555;
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.faqItem:hover {
  transform: translateY(-5px);
}

