body{
    margin: 0;
    padding: 0;
}
.navbar {
    
    display: flex;
    height: 5%;
    width: auto;
    margin:0 auto;
    padding: 1rem 4rem;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    max-width: auto;
    z-index: 1;
    background-color: white;
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    

}

.linkItem {
    margin: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.linkItem:hover {
    color: grey;
    padding-bottom: 0.5rem;
    border: black;
    border-bottom: 2px solid grey;
    text-decoration: none;
    color:inherit;
}

.linkItem:visited, .linkItem:active, .linkItem:active, .linkItem:link {
    text-decoration: none;
    color:inherit;
}



.contactImg {
    background-color: white;
    object-fit: cover;
    height: 1.5rem;
    width: 1.5rem;
    padding-right: 0.5rem;
    padding: 0.25rem;
}

.contactButton {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: larger;
    border: 2px solid black;
   

}

.active {
    color: grey;
    border-bottom: 2px solid grey;
    padding-bottom: 0.25rem;
}

.hamburgerMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.mobMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: white;
    border-radius: 1rem;
}

.linkItemMobile {
    color: grey;
    padding: 0.5rem 3rem;
    margin: 0.25rem;    
    background-color: white;
}

@media screen and (max-width:720px) {
    
    .mobMenu, .hamburgerMenu {
        display: flex;
    }

    .linkItem {
        display: none;
    }

    .contactButton {
        display: none;
    }

}