.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 25%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .scroll-to-top-button:hover {
    background-color: grey;
  }